#header {
    width:100%;
    text-align:center;
    padding: 2px 2px 2px 2px;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    background-color: gray;
}

#container {
    width:100%;
}

#sidebar {
    float:right;
    width:20%;
    background-color: beige;
}

.sidebar-title {
    font-size: 1.3em;
    font-weight: bold;
    color: darkblue;
}

.sidebar-article {
    margin-top: 5px;
}

.sidebar-article-title {
    font-weight: bold;
}

.sidebar-article-summary {
    font-style: italic;
}

#content {
    padding: 5px 5px 5px 5px;    
}

.content-title {
    font-size: 1.4em;
    font-weight: bold;
    color: darkblue;    
}

.content-article-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

.content-article-summary {
    font-style: italic;
    font-size: .9em;
}

.content-article-preview {    
}

.no-articles {
    font-size: 1.2em;
    color: red;
}

#login_fields,
#entity_fields {
    margin: 2px 2px;
}

.login_row,
.entity_row {
    padding: 2px 2px;
}

.login_row span,
.entity_row span {
    float: left;
    width: 100px;
}

.error-messages {
    margin-top: 10px;
    padding: 5px 2px;
    background-color: salmon;
    border: 1px solid black;
    font-size: 1.1em;
}

#table-articles {
    border: 3px solid #000000;    
    text-align: left;
    border-collapse: collapse;
}
#table-articles td, #table-articles th {
  border: 1px solid #000000;
  padding: 5px 4px;
}
#table-articles tbody td {
  font-size: 1.1em;
}
#table-articles thead {
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
  border-bottom: 3px solid #000000;
}
#table-articles thead th {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

#notify-container {
    font-size: 1.2em;
    padding: 5px;
}

#notify-title {
    font-size: 1.4em;
}

#notify-message {
    margin-top: 5px;    
}

#notify-actions {
    margin-top: 10px;    
}